.navbar {
    background-color:#99ccff;
    padding: 1.2rem 1.2rem;
    width:100%;
    position: fixed;
    font-size: calc(10px + 14 * (100vw - 320px)/ 800);
    display: block;
}

.navbar ul {
    padding-left: 0;
}

.navbar li {
    display: inline-block;
    width: 33%;
    text-align: center;
}